
:root {
    /* custom variables */
    --custom-variable: "my-property";

    /* color palettes */
    --color-1: rgb(255, 210, 105);

    /* anchor <a> color */
    --anchor-color: #000000;
    --anchor-hover-color: #784200;

    /* text color */

    /* for header */
    --title-size: 20px;
    --header-encapsulated-el-padding: 9px;

}

* {
    font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
}

.classif-cont {
    display: flex;
    flex-direction: column;
}

:is(.label, label) {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 75%;
}

label {
    text-transform: none;
}

.emphasise  {
    font-size: 20px;
    font-weight: 700;
}

/* BODY */
body {
    margin: 1vw;
}

/* MAIN */
main {
    min-height: 90vh;
    padding: 28px 96px;
}

/* =============== HEADER =============== */
header {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
    /* position: fixed; */
}

/* all elements that is only encapsulated by <header> */
header > * {
    background-color: var(--color-1);
    border-radius: 1299px;
    font-size: 18px;
    padding: var(--header-encapsulated-el-padding) calc(var(--header-encapsulated-el-padding) * 3);
}

/* all <a> anchor element */
header a {
    color: var(--anchor-color);
    font-weight: 700;
    text-decoration: none;
}

header a:hover {
    color: var(--anchor-hover-color);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Lists of all quick directable links */
header nav ul li {
    display: inline;
    margin-inline: 18px;
}

/* ======== PRODUCT INFO PAGE ======== */

section.grid-display {
    gap: 16px;
    grid-template-columns: repeat(8, 1fr);
}

/* product image */
section.product-info > img.product-img-large {
    grid-area: 1 / 1 / span 1 / span 4;
}

/* product details */
section.product-info #product-details {
    grid-area: 1 / 5 / span 1 / span 4;
}

/* container account */
section.product-info #product-details > .box-acc {
    padding-block: 16px;
}

/* underline appearance for container account excluding the last */
section.product-info #product-details > .box-acc:not(:last-child) {
    border-bottom: 3px solid #000000;
}

/* name and author, PLUS wishlist button */
section.product-info #product-details > .box-acc.name-author {
    grid-template-columns: 3fr 1fr;
}

/* showcase in grid display */
section.product-info #product-details > .box-acc.showcase {
    gap: 16px;
    grid-template: 1fr 1fr / 1fr 1fr;
}

/* price and quantity */
section.product-info #product-details > .box-acc.price-and-quantity {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

/* text for detail */
section.product-info #product-details :is(h2, p) {
    margin-block: 0;
}

/* ======== CART PAGE ======== */
section.my-cart ul.item-list {
    grid-area: 1 / 1 / span 1 / 6;
    margin: 0;
    padding: 0;
}

/* item list layout */
section.my-cart li.item-details {
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

section.my-cart li.item-details > .product-img-small {
    grid-area: 1 / 1 span 1 / span 1;
    width: 100px;
    height: 100px;
}

section.my-cart li.item-details > .name-author-label {
    gap: 8px;
    grid-area: 1 / 2 / span 1 / span 2;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

/* texts */
section.my-cart .name-author-label :is(h3, p) {
    margin: 0;
}

section.my-cart li.item-details > :is(.quantity, .price-action) {
    /* display: inline; */
    text-align: center;
}

/* price */
section.my-cart .price-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.my-cart .price-action > p.emphasise {
    margin: 0;
}

/* PANEL DETAILS */

section.my-cart .panel-details {
    background-color: bisque;
    padding: 16px;
    grid-area: 1 / 6 / span 1 / 9;
}

/* section.product-info #product-details .emphasise  {
    font-size: 20px;
    font-weight: 700;
} */


/* FOOTER */
footer {
    background-color: var(--color-1);
}