
:root {
    /* custom variables */
    --custom-variable: "my-property";

    /* color palettes */
    --color-1: #ffed28;
    --color-2: #faf8c6;
    --color-3: #F85E00;
    --color-4: #d80e1f;
    --color-5: #916b50;

    /* anchor <a> color */
    --anchor-color: #000000;
    --anchor-hover-color: #784200;

    /* text color */

    /* for header */
    --title-size: 20px;
    --header-encapsulated-el-padding: 9px;

    /* Buttons (hue and saturation) */
    --btn-destructive: 4, 92%;
    --btn-positive: 43, 100%;
    --btn-neutral: 60, 5%;

    /* Lightness */
    --btn-normal: 50%;
    --btn-hover: 20%;
    --btn-active: 30%;

    /* Stock Status */
    --stock-normal: #000000;
    --stock-low: #7a0000;
    --stock-none: #888888;
}

* {
    font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
}

/* BUTTONS */
button {
    --btn-lightness: 50%;

    background-color: hsl(var(--btn-positive), calc(var(--btn-lightness) * 1.5));
    border: none;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    padding-block: 5px;
}

button.destructive {
    background-color: hsl(var(--btn-destructive), calc(var(--btn-lightness) / 1.2));
    color: #FFFFFF;
}

button.neutral {
    background-color: hsl(var(--btn-neutral), var(--btn-lightness));
}

button:hover {
    --btn-lightness: 32%;
}

button:active {
    --btn-lightness: 40%;
}

/* blank container or image */
img {
    background-color: var(--color-2);
}

/* all inputs */
input {
    --input-border-color: #000000;
    font-size: 16px;

    border: 2px solid var(--input-border-color);
}

.classif-cont {
    display: flex;
    flex-direction: column;
}

.classif-cont :is(span, label), span.label {
    /* text label */
    --label-font-size: 14px;
    --label-lsp: 1.25px;
    --label-opacity: 75%;
    
    display: block;
    font-size: var(--label-font-size);
    font-weight: 400;
    letter-spacing: var(--label-lsp);
    text-transform: uppercase;
    opacity: var(--label-opacity);
}

.classif-cont :is(span, label) > * {
    display: inline;
}

/* encapsulated inside text  */
:is(p, span) > span.label {
    display: inline;
    padding-left: 3px;
}

.lowercase {
    text-transform: none !important;
}

/* Stock Status */
.stock-status {
    letter-spacing: 0.75px !important;
}

.stock-status:not(.out-of-stock) {
    opacity: 100% !important;
}

.low {
    color: var(--stock-low);
}

input.emit-stock-status {
    --input-border-color: var(--stock-normal);
}

input.emit-stock-status.low {
    --input-border-color: var(--stock-low);
}

input.emit-stock-status.none {
    --input-border-color: var(--stock-none);
}

.pads {
    padding-block: 8px;
}

label {
    text-transform: none;
}

.author {
    display: block;
    margin: 0;
}

.emphasise  {
    font-size: 20px;
    font-weight: 700;
}

.text-nudge {
    align-items: end;
    display: flex;
    justify-content: space-between;
}

/* label */
.text-nudge :first-child {
    height: fit-content;
}

/* right-side text */
.text-nudge p.emphasise {
    margin: 0;
}

.centre {
    text-align: center;
}

/* BODY */
body {
    margin: 1vw;
}

/* MAIN */
main {
    min-height: 90vh;
    padding: 28px 96px;
}

/* =============== HEADER =============== */
header {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
    /* position: fixed; */
}

/* all elements that is only encapsulated by <header> */
header > * {
    background-color: var(--color-1);
    border-radius: 1299px;
    font-size: 18px;
    padding: var(--header-encapsulated-el-padding) calc(var(--header-encapsulated-el-padding) * 3);
}

/* all <a> anchor element */
header a {
    color: var(--anchor-color);
    font-weight: 700;
    text-decoration: none;
}

header a:hover {
    color: var(--anchor-hover-color);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Lists of all quick directable links */
header nav ul li {
    display: inline;
    margin-inline: 18px;
}

/* ======== PRODUCT INFO PAGE ======== */

section.grid-display {
    gap: 16px;
    grid-template-columns: repeat(8, 1fr);
}

/* product image */
section.product-info > img.product-img-large {
    grid-area: 1 / 1 / span 1 / span 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* product details */
section.product-info #product-details {
    grid-area: 1 / 5 / span 1 / span 4;
}

/* container account */
section.product-info #product-details > .box-acc {
    padding-block: 16px;
}

/* underline appearance for container account excluding the last */
section.product-info #product-details > .box-acc:not(:last-child) {
    border-bottom: 3px solid #000000;
}

/* name and author, PLUS wishlist button */
section.product-info #product-details > .box-acc.name-author {
    grid-template-columns: 3fr 1fr;
}

/* showcase in grid display */
section.product-info #product-details > .box-acc.showcase {
    gap: 16px;
    grid-template: 1fr 1fr / 1fr 1fr;
}

/* price and quantity */
section.product-info #product-details > .box-acc.price-and-quantity {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}

/* text for detail */
section.product-info #product-details :is(h2, p) {
    margin-block: 0;
}

/* ======== CART PAGE ======== */
section.my-cart ul.item-list {
    grid-area: 1 / 1 / span 1 / 6;
    margin: 0;
    padding: 0;
}

/* item list layout */
section.my-cart li.item-details {
    align-items: center;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    padding-block: 14px;
}

/* remove padding top for first child */
section.my-cart li.item-details:first-child {
    padding-top: 0;
}

section.my-cart li.item-details:not(:last-child) {
    border-bottom: 3px solid black;
}

section.my-cart li.item-details > .product-img-small {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100px;
    height: 100px;
}

section.my-cart li.item-details > .name-author-label {
    gap: 8px;
    grid-area: 1 / 2 / span 1 / span 2;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

/* texts */
section.my-cart .name-author-label h3 {
    margin: 0;
}

/* anchor inside product title <h3> */
section.my-cart .name-author-label h3 > a {
    text-decoration: none;
}

section.my-cart li.item-details > :is(.quantity, .price-action) {
    /* display: inline; */
    text-align: center;
}

/* price */
section.my-cart .price-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.my-cart .price-action > p.emphasise {
    margin: 0;
}

/* PANEL DETAILS */
section.my-cart .panel-details {
    background-color: var(--color-2);
    padding: 16px;
    grid-area: 1 / 6 / span 1 / 9;
    max-height: 300px;
}

section.my-cart .panel-details > #coupon-layout {
    display: flex;
    gap: 16px;
    margin-block: 12px;
}

/* Coupon Input Textbox */
section.my-cart .panel-details > #coupon-layout input[type=text] {
    width: 100%;
}

/* ======== ITEMS IN GRID DISPLAY (any genre) ======== */
section.item-display {
    gap: 2vw;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}

/* Item card */
section.item-display .item-card {
    padding: 12px;
    background-color: #FAFAFA;
    box-shadow: 0 3px 20px 1px #00000044;
    height: auto;
}

/* Image inside the item card */
section.item-display .item-card img.img-item {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* ALBUM: title | author | price track */
section.item-display .item-card .album-txt-info {
    margin-block: 8px;
}

/* remove the default style for anchor links in card*/
section.item-display .item-card > a {
    color: #000000;
    text-decoration: none;
}

/* mini form of input and submit form */
section.item-display form.add-to-cart-action {
    display: grid;
    gap: 8px;
    grid-template-columns: 1.2fr 0.8fr;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--color-1);
}