{% extends "base.html" %}

{% block title %}{% if msr == "signup" %}Sign Up{% elif msr == "login" %}Log In{% endif %} - The Music Shop{% endblock %}

{% block content %}
    <body>
        <section class="grid grid-display account-component">
            {% if session["session_key"] and session["session_key"]["accessed"] %}
                <!-- MY ACCOUNT PAGE ELEMENTS -->
                {% set sv = session["session_key"] %}

                <ul class="mini-list-container vrs-2">
                    <!-- cart for now (wishlist to be planned...) -->
                    <span class="label">Your Cart</span>
                    {% for _, alb in sv["cart"].items() %}
                        <!-- list per item -->
                        <li class="mini-list-item">

                            <!-- I: Image and Quantity -->
                            <div class="img-qty-placer">
                                <img class="img-item">
                                <span class="counter">{{ alb["quantity"] }}</span>
                            </div>

                            <!-- II: Name, Author, and Price -->
                            <div class="txt-const">
                                <div class="name-author">
                                    <span class="emphasise">{{ _ }}</span>
                                    <p>{{ alb["author"] }}</p>
                                </div>
                                <!-- Price -->
                                <b class="price">${{ '%.2f' % (alb["price"] * alb["quantity"]) }}</b>
                            </div>

                        </li>
                    {% endfor %}
                </ul>

                <form class="account-display" action="{{ url_for('logout') }}">
                    <span class="label">MY ACCOUNT</span>
    
                    <h2>Hello, {{ session["session_key"]["name"] }}!</h2>

                    <hr>
                    <!-- INFORMATION DISPLAY -->
                    <div class="text-nudge nudge-block">
                        <span>ID</span>
                        <p class="emphasise">{{ sv["user_id"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Email</span>
                        <p class="emphasise">{{ sv["email"] }}</p>
                    </div>
                    <hr>

                    <div class="buttons">
                        <button type="button" class="outlined" formaction="{{ url_for('cart') }}">View My Cart</button>
                        <button type="button" class="destructive">Logout</button>
                    </div>
                </form>
            {% elif msr == "signup" %}
                <!-- SIGN UP section  -->
                <form action="{{ url_for('signup', get_subject = sbj) }}" id="log-in" method="post">

                    <!-- main content -->
                    <div class="main-content">
                        <h2>Sign Up</h2>
                        <div class="form-block fr-n-fname">
                            <label for="new-fname">First Name</label>
                            <input type="text" name="new-fname" id="new-fname" placeholder="John" required>
                        </div>
                        <div class="form-block fr-n-lname">
                            <label for="new-lname">Last Name</label>
                            <input type="text" name="new-lname" id="new-lname" placeholder="Doe" required>
                        </div>
                        <div class="form-block fr-n-email">
                            <label for="new-email">Email Address</label>
                            <input type="email" name="new-email" id="new-email" placeholder="name@example.com" required>
                        </div>
                        <div class="form-block fr-n-password">
                            <label for="new-password">Password</label>
                            <input type="password" name="new-password" id="new-password" placeholder="At least 7 characters" minlength="7" maxlength="16" autocomplete="new-password" required>
                        </div>
                        <div class="form-block fr-n-password">
                            <label for="new-confirm-password">Confirm Password</label>
                            <input type="password" name="new-confirm-password" id="new-confirm-password" placeholder="Re-enter your password" minlength="7" maxlength="16" autocomplete="new-password" required>
                        </div>
                        <button class="complete-action" type="submit">Sign Up</button>
                        <p>Already have an account? <a href="{{ url_for('signup_login', measure = 'login', subject = sbj) }}">Log In</a></p>
                    </div>

                    {% if sbj == "for_awaiting_checkout" %}
                        <!-- Through Checkout -->
                        <div class="awaiting-checkout">
                            <span class="label lowercase">Continue to Checkout as a guest</span>
                            <button type="button" class="outlined" onclick="location.href = `{{ url_for('checkout') }}`">Continue to Checkout</button>
                        </div>
                    {% endif %}
                </form>
                <div class="img-block">
                    <img>
                    <span class="attribution-credits">Credits</span>
                </div>
            {% elif msr == "login" %}
                <!-- LOG IN section -->
                <form action="{{ url_for('login', get_subject = sbj) }}" id="log-in" method="post">

                    <!-- main content -->
                    <div class="main-content">
                        <h2>Log In</h2>
                        <div class="form-block fr-log-email">
                            <label for="lg-email">Email Address</label>
                            <input type="email" name="lg-email" id="lg-email" placeholder="name@example.com" autocomplete="email" required>
                        </div>
                        <div class="form-block fr-log-password">
                            <label for="lg-password">Password</label>
                            <input type="password" name="lg-password" id="lg-password" minlength="7" maxlength="16" placeholder="At least 7 characters" autocomplete="current-password" required>
                        </div>
                        <button class="complete-action" type="submit">Login</button>
                        <p>New here? <a href="{{ url_for('signup_login', measure = 'signup', subject = sbj) }}">Sign Up</a></p>
                    </div>

                    {% if sbj == "for_awaiting_checkout" %}
                        <!-- Through Checkout -->
                        <div class="awaiting-checkout">
                            <span class="label lowercase">Continue to Checkout as a guest</span>
                            <button type="button" class="outlined" onclick="location.href = `{{ url_for('checkout') }}`">Continue to Checkout</button>
                        </div>
                    {% endif %}
                </form>
                <div class="img-block">
                    <img>
                    <span class="attribution-credits">Credits</span>
                </div>
            {% endif %}
        </section>
    </body>
{% endblock %}