<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Music Shop{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% set has_account_session = session["session_key"] and session["session_key"]["accessed"] %}

    <header>
        <h1>The Music Shop</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('category_all') }}">Shop</a></li>
                <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
                <li><a href="{{ url_for('order_history') }}">Order History</a></li>
                <li><a href="{{ url_for('signup_login', measure = 'login') }}" {% if has_account_session %} id="link-account-accessed" {% endif %}>{% if has_account_session %}{{ session["session_key"]["name"] }}{% else %}Log In{% endif %}</a></li>
            </ul>
        </nav>
        <a href="{{ url_for('cart') }}">
            <span>My Cart</span>
            <span class="counter">

                {% if session["session_key"] %}
                    {{ session["session_key"]["cart"]|length }}
                {% else %}
                    {{ session["cart"]|length }}
                {% endif %}

            </span>
        </a>
    </header>

    <!-- debugging -->
    <!-- <p>{{ session["session_key"] }}</p> -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="toast-flash">
                <button type="button" id="close-flash">Close Message</button>

                <!-- 'flash' message from Python Flask -->
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <main class="grid-layout">{% block content %}{% endblock %}</main>
    <footer>@ 2026 The Music Shop.</footer>

    {% if key_param and key_param["show"] == True %}
        <!-- Side Panel -->

        <!-- heading name -->
        {% if key_param["when"] == 1 %}
            {% set heading_3 = "Item Added" %}
        {% elif key_param["when"] == 2 %}
            {% set heading_3 = "Item Added to Wishlist" %}
        {% elif key_param["when"] == 3 %}
            {% set heading_3 = "Reminders on Stock Change" %}
        {% endif %}

        {% with by_item = key_param["by"] %}
            <div id="panel-frame">
                <h3>{{ heading_3 }}</h3>
                <hr>

                <!-- SELECTION BY "when" KEYS -->

                {% if key_param["when"] == 1 or key_param["when"] == 2 %}
                    <!-- mini list style -->
                    <ul class="mini-list-container">
                        {% for _, b in by_item.items() %}

                            <!-- list per item -->
                            <li class="mini-list-item">
                                <!-- I: Image and Quantity -->
                                <div class="img-qty-placer">
                                    <img class="img-item" src="{{ b['image'] }}" alt="{{ b['name'] }}">

                                    {% if key_param["when"] == 1 %}
                                        <span class="counter">{{ b["quantity"] }}</span>
                                    {% endif %}
                                </div>

                                <!-- II: Name, Artist, and Price -->
                                <div class="txt-const">
                                    <div class="name-artist">
                                        <p class="emphasise">{{ b["name"] }}</p>
                                        <span>{{ b["artist"] }}</span>
                                    </div>
                                    <!-- Price -->
                                    <b class="price"><sup>$</sup>{{ '%.2f' % b["price"] }}</b>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                <!-- within invoice page -->
                {% elif key_param["when"] == 3 %}
                    {% set reserves = data["items_on_hold"]  %}

                    <!-- text elements -->
                    <p>Our system detected changes to product stock while you were at checkout, which could affect your order's delivery and our operational service.</p>
                    <p>The following items are listed below:</p>
                    <ul class="reserved-items">
                        {% for n, items in reserves.items() %}
                            <!-- list only items that were released; omitting pre-released items -->
                            {% if not items["cause_of_demand"] == "pre_order" %}
                                <li class="item-demand" id="{{ items['id'] }}">
                                    <b>{{ n }}</b>
                                    <span class="quantity-count">× {{ items["quantity_demand"] }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <h4>What does this mean?</h4>
                    <p>Your order could be identified as partial fulfilment, where temporarily out-of-stock items are kept for restoration and sent on a later shipment; available items are shipped in the order at once. But we expect that they will be restocked and ready for shipment. We will get in touch with you about your order and help you decide within three business days.</p>
                    
                    <h4>Contact</h4>
                    <p>If you have any questions or would like to request a refund, you can get in touch with us via phone or email.</p>

                    <p>If you need reference to it, scroll down on your invoice page to read through, or click here</a>.</p>
                {% endif %}

                <!-- BUTTON ACTIONS -->
                <div class="btn-stack-inline">
                    {% if key_param["when"] == 1 %}
                        <button type="button" id="btn-continued">Continue Shopping</button>
                        <button type="button" class="outlined" onclick="location.href = `{{ url_for('cart') }}`">View My Cart</button>
                    {% elif key_param["when"] == 2 %}
                        <!-- ~~~ part with headaches ~~~ -->
                        <form action="{{ url_for('toggle_wishlist', catalogue_id = key_param['id'], album_name = key_param['name']) }}" method="post">
                            <button type="button" id="btn-continued">Continue</button>
                            <button type="submit" class="destructive">Remove from Wishlist</button>
                        </form>
                    {% elif key_param["when"] == 3 %}
                        <button type="button" id="btn-continued">Close</button>
                        <button type="button" class="neutral" onclick="fragment_identifier_redirect('stock-change-notice')">See Details</button>
                    {% endif %}
                </div>
            </div>
            <div class="black-overlay"></div>

            <script>
                function closure() {
                    panel.classList.remove("appear");
                            
                    // After the transform effect, trigger in 500 ms delay
                    setTimeout(() => {
                        panel.remove();
                        blackOverlay.remove();
                    }, 500);
                }

                function fragment_identifier_redirect(hash) {
                    window.location.hash = hash;
                    closure();
                }

                const flashChildren = document.querySelector(".toast-flash").children; // select all flash messages
                const panel = document.getElementById("panel-frame");
                const blackOverlay = document.querySelector(".black-overlay")

                // removing Flash Message with raw prompts
                for (let m = flashChildren.length - 1; m >= 0; m--) {
                    // matching prompt pattern
                    if (flashChildren[m].textContent.match(/%.show_panel/i)) {
                        // remove the adjacent flash message first
                        if (flashChildren[m + 1]) {
                            flashChildren[m + 1].remove();
                        }

                        // then remove the message where it is tested via match pattern
                        flashChildren[m].remove();
                    }
                }

                // prevents automatic appear
                setTimeout(() => {
                    panel.classList.add("appear");
                }, 3);

                document.getElementById("btn-continued").addEventListener("click", closure);
                blackOverlay.addEventListener("click", closure);
            </script>
        {% endwith %}
    {% endif %}

    <!-- script if -->
    {% if get_flashed_messages() %}
        <script>
            const closeFlash = document.getElementById("close-flash");

            // at click of close flash
            closeFlash.addEventListener("click", e => {
                // 
                document.querySelector(".toast-flash").classList.add("closing-flash");

                // remove flash container
                setTimeout(() => {
                    document.querySelector(".toast-flash").remove();
                }, 300);
            });
        </script>
    {% endif %}
</body>
</html>