{% extends "base.html" %}

{% block title %}My Cart - The Music Shop{% endblock %}

{% block content %}
    <body>
        <h2>My Cart</h2>
        <section class="grid grid-display my-cart">
            <!-- I: ITEM LISTS -->
            
            <ul class="item-list">
                {% for name_product, item in cart.items() %}
                    <li class="item-details grid">
                        <div class="product-img-small"></div>
                        <div class="name-author-label">
                            <span class="stock-status label">{% if model[name_product]['stock'] > 0 %}IN STOCK{% else %}OUT OF STOCK{% endif %}</span>
                            <div class="block-name-author">
                                <h3><a href="{{ url_for('product_information', m = item['model']) }}">{{ name_product }}</a></h3>
                                <p>{{ item['author'] }}</p>
                            </div>
                            <span class="label">{{ item['label'] }}</span>
                        </div>
                        <div class="quantity">
                            <label for="quantity">QUANTITY</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5" value="{{ item['quantity'] }}">
                        </div>
                        <div class="price-action">
                            <p class="emphasise">${{ '%.2f' % (item['quantity'] * item['price']) }}</p>
                            <form class="delete-item" action="" method="post">
                                <button type="submit" class="rounded destructive">D</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>


            <!-- II: ORDER DETAILS -->
            <form class="panel-details" action="">
                <span class="label centre">Order Details</span>
                <div id="coupon-layout">
                    <input type="text" name="coupon" id="coupon">
                    <button type="button">Apply</button>
                </div>
                <div class="cost-precalc">
                    <div class="text-nudge">
                        <span>Subtotal</span>
                        <p class="emphasise">${{ '%.2f' % subtotal }}</p>
                    </div>
                    <div class="text-nudge">
                        <span>GST</span>
                        <p class="emphasise">${{ '%.2f' % gst }}</p>
                    </div>
                    <span class="label lite">Include GST. Shipping will be calculated at checkout. Delivery fee included.</span>
                </div>
                <button type="submit">Go To Checkout</button>
            </form>
        </section>
    </body>
{% endblock %}