{% extends "base.html" %}

{% block title %}My Cart - The Music Shop{% endblock %}

{% block content %}
    <body>
        <h2>My Cart</h2>
        <section class="grid grid-display my-cart">
            
            <!-- I: ITEM LISTS -->
            <ul class="item-list">
                {% for album_name, item in cart.items() %}
                    <li class="item-details grid">
                        <div class="product-img-small"></div>
                        <div class="name-author-label">

                            <!-- Different Labels from Stock Status (High, Low, None) -->
                            {% if albums[album_name]['stock'] > 5 %}
                                <span class="stock-status lowercase label">In Stock</span>
                            {% elif 6 > albums[album_name]['stock'] and albums[album_name]['stock'] > 0 %}
                                <span class="stock-status low lowercase label"><b>({{ albums[album_name]['stock'] }})</b> Low Stock</span>
                            {% else %}
                                <span class="stock-status out-of-stock lowercase label">Out of Stock</span>
                            {% endif %}

                            <div class="block-name-author">
                                <!-- Album Name and Author -->
                                <h3><a href="{{ url_for('product_information', id = item['id']) }}">{{ album_name }}</a></h3>
                                <p class="author">{{ item['author'] }}</p>
                            </div>

                            <span class="label">{{ item['label'] }}</span>
                        </div>

                        <div class="quantity">
                            <!-- Editable Quantity Input -->
                            <label for="e-{{ item['id'] }}">QUANTITY</label>
                            <input type="number" name="e-{{ item['id'] }}" id="e-{{ item['id'] }}" data-ctgnumber="{{ item['id'] }}" min="1" max="{% if 5 > albums[album_name]['stock'] and albums[album_name]['stock'] > 0 %}{{ albums[album_name]['stock'] }}{% else %}5{% endif %}" value="{{ item['quantity'] }}">
                        </div>

                        <div class="price-action">
                            <!-- Price -->
                            <p class="price recalculation emphasise" data-unitprice="{{ albums[album_name]['price'] }}" id="atr-price-{{ item['id'] }}">${{ '%.2f' % (item['quantity'] * item['price']) }}</p>
                            <form class="delete-item" action="{{ url_for('remove_item', ctg_number = item['id'], album_name = album_name) }}" method="post">
                                <button type="submit" class="rounded squared destructive">D</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <!-- II: ORDER DETAILS -->
            <form class="panel-details" action="">
                <span class="label centre">Order Details</span>
                <div id="coupon-layout">
                    <input type="text" name="coupon" id="coupon">
                    <button type="button">Apply</button>
                </div>
                <div class="cost-precalc">
                    <div class="text-nudge">
                        <span>Subtotal</span>
                        <p class="emphasise">${{ '%.2f' % subtotal }}</p>
                    </div>
                    <div class="text-nudge">
                        <span>GST</span>
                        <p class="emphasise">${{ '%.2f' % gst }}</p>
                    </div>
                    <span class="label lite">Include GST. Shipping will be calculated at checkout. Delivery fee included.</span>
                </div>
                <button type="submit">Go To Checkout</button>
            </form>
        </section>

        <!-- a panel that appears when the change was detected -->
        <div id="config-bottom-bar">
            <form action="{{ url_for('apply_changes') }}" method="post" id="target-form">
                {% for n, i in cart.items() %}
                    <input name="i-invn-{{ i['id'] }}" id="i-invn-{{ i['id'] }}" value="{{ i['quantity'] }}" style="display: none;">
                {% endfor %}
                <button type="submit" id="save-changes">Save Changes</button>
                <button type="button" class="neutral outlined" id="cancel">Cancel</button>
            </form>
        </div>

        <!-- Script -->
        <script src="{{ url_for('static', filename='js/item_modifier.js') }}"></script></script>
    </body>
{% endblock %}