{% extends "base.html" %}

{% block title %}Review Your Order - The Music Shop{% endblock %}

{% block content %}
    <body>
        <h2>Review Your Order</h2>
        <section class="grid grid-display checkout">
            <form class="info-reiteration" action="{{ url_for('place_order') }}" method="post">
                <p>Please review your billing details and your items before placing your order. If you need to make any changes or add anything, feel free to go back to checkout page.</p>

                <div class="details-container billing-details">
                    <div class="text-nudge nudge-block">
                        <span>First Name</span>
                        <p class="emphasise">{{ saved_billing_info["first_name"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Last Name</span>
                        <p class="emphasise">{{ saved_billing_info["surname"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Email</span>
                        <p class="emphasise">{{ saved_billing_info["email"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Physical Address</span>
                        <p class="emphasise">{{ saved_billing_info["physical_address"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Town</span>
                        <p class="emphasise">{{ saved_billing_info["town"] }}</p>
                    </div>
                    <div class="text-nudge nudge-block">
                        <span>Postal Code</span>
                        <p class="emphasise">{{ saved_billing_info["postal_code"] }}</p>
                    </div>
                </div>
                <div class="details-container monetary-cost">
                    {% if subtotal %}
                        <div class="text-nudge nudge-block c-subtotal">
                            <span>Subtotal</span>
                            <p>${{ '%.2f' % subtotal }}</p>
                        </div>
                    {% endif %}

                    {% if gst %}
                        <div class="text-nudge nudge-block c-gst">
                            <span>GST</span>
                            <p>${{ '%.2f' % gst }}</p>
                        </div>
                    {% endif %}

                    {% if ship_fee %}
                        <div class="text-nudge" id="delivery-fee">
                            <span>Delivery Fee</span>
                            <p>${{ '%.2f' % ship_fee }}</p>
                        </div>
                    {% endif %}

                    {% if discount %}
                        <div class="text-nudge nudge-block discount">
                            <span>Discount</span>
                            <p>${{ '%.2f' % discount }}</p>
                        </div>
                    {% endif %}

                    <hr>

                    <div class="text-nudge nudge-block total">
                        <span>Total</span>
                        <p class="emphasise">${{ '%.2f' % total }}</p>
                    </div>
                </div>
    
                <button type="button" class="outlined" onclick="location.href = `{{ url_for('checkout') }}`">Return to Checkout</button>
                <button type="submit">Place Order</button>
            </form>

            <div class="panel-details">
                <span>Order Summary</span>
                <ul class="mini-list-container vrs-2">
                    {% for n, alb in cart.items() %}
                                                <!-- list per item -->
                        <li class="mini-list-item">

                            <!-- I: Image and Quantity -->
                            <div class="img-qty-placer">
                                <img class="img-item">
                                <span class="counter">{{ alb["quantity"] }}</span>
                            </div>

                            <!-- II: Name, Author, and Price -->
                            <div class="txt-const">
                                <div class="name-author">
                                    <span class="emphasise">{{ n }}</span>
                                    <p>{{ alb["author"] }}</p>
                                </div>
                                <!-- Price -->
                                <b class="price">${{ '%.2f' % (alb["price"] * alb["quantity"]) }}</b>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
                <div class="cost-calc">
                    {% if subtotal %}
                        <div class="text-nudge" id="subtotal">
                            <span>Subtotal</span>
                            <p class="emphasise">${{ '%.2f' % subtotal }}</p>
                        </div>
                    {% endif %}

                    {% if gst %}
                        <div class="text-nudge" id="gst">
                            <span>GST</span>
                            <p class="emphasise">${{ '%.2f' % gst }}</p>
                        </div>
                    {% endif %}

                    {% if ship_fee %}
                        <div class="text-nudge" id="delivery-fee">
                            <span>Delivery Fee</span>
                            <p class="emphasise">${{ '%.2f' % ship_fee }}</p>
                        </div>
                    {% endif %}

                    {% if discount %}
                        <div class="text-nudge" id="discount">
                            <span>Discount</span>
                            <p class="emphasise">${{ '%.2f' % discount }}</p>
                        </div>
                    {% endif %}

                    <hr>

                    <div class="text-nudge" id="total">
                        <span>Total</span>
                        <p class="emphasise">${{ '%.2f' % total }}</p>
                    </div>
                </div>
            </div>

        </section>
            
    </body>
{% endblock %}