{% extends "base.html" %}

{% block title %}Home - The Music Shop{% endblock %}

{% block content %}
    <body>
        <section id="static-banner">
            <!-- Filled Up Image in the Entire Section -->
            <img>
            <div>
                <h3>Forever</h3>
                <p>1</p>
            </div>
        </section>

        <section>
            <h2>Shop By Categories!</h2>
            <a href="{{ url_for('category', genre = 'ambience') }}">Ambience</a>
            <a href="{{ url_for('category', genre = 'acoustic') }}">Acoustic</a>
            <a href="{{ url_for('category', genre = 'classical') }}">Classical</a>
            <a href="{{ url_for('category', genre = 'lo-fi') }}">Lo-Fi</a>
        </section>

        <form action="{{ url_for('visit') }}" method="post">
            
            <select name="item_selector" id="item_selector">
                {% for model_name, acc in models.items() %}
                    <option style="font-size: 18px;" value="{{ acc['model'] }}">
                        {{ model_name }} - ${{ '%.2f' % acc["price"] }} <b>({{ acc["stock"] }})</b>
                    </option>
                {% endfor %}
            </select>

            <button type="submit">     Visit     </button>
        </form>
    </body>
{% endblock %}