{% extends "base.html" %}

{% block title %}My Order - The Music Shop{% endblock %}

{% block content %}
    <body>
        <section class="invoice-page">
            <h2>Thank You!</h2>
            <p>We'll remind you on your order placement within 3 business days. If you have any enquiries, contact us.</p>
    
            <h3>Invoice Number: #{{ data["id"] }}</h3>
            <p>Date: {{ data["date"] }}</p>

            <div id="order-billing-dt">
                <span class="label">Invoice To</span>
                <div>
                    <p class="full-name emphasise">{{ data["customer"]["name"] }}</p>
                    <p>{{ data["customer"]["physical_address"] }}</p>
                    <p>{{ data["customer"]["town"] }} {{ data["customer"]["postal_code"] }}</p>
                    <p>{{ data["customer"]["email"] }}</p>
                </div>
            </div>

            <!-- TABLE -->
            <table>
                <colgroup>
                    <col span="1" style="width: 60px;">
                    <col style="width: 360px;">
                    <col span="3" style="width: 120px">
                </colgroup>
                <thead>
                    <tr>
                        <th id="th-item-number">No.</th>
                        <th id="th-album-name">Item</th>
                        <th id="th-unit-price">Price</th>
                        <th id="th-quantity">Quantity</th>
                        <th id="th-total-price">Total Price</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- column item selection -->
                    {% for n, alb in data["items"].items() %}
                        <tr>
                            <td>{{ alb["no"] }}</td>
                            <td>{{ n }}</td>
                            <td>${{ alb["price"] }}</td>
                            <td>{{ alb["quantity"] }}</td>
                            <td>${{ '%.2f' % (alb["price"] * alb["quantity"]) }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="monetary-cost subtotal">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal</td>
                        <td>${{ data["subtotal"] }}</td>
                    </tr>
                    <tr class="monetary-cost gst">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>GST</td>
                        <td>${{ '%.2f' % data["gst"] }}</td>
                    </tr>
                    <tr class="monetary-cost ship-fee">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Ship Fee</td>
                        <td>${{ '%.2f' % data["ship_fee"] }}</td>
                    </tr>
                    <tr class="monetary-cost discount">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Discount</td>
                        <td>
                            {% if data["discount"] > 1 %}
                                ${{ '%.2f' % data["discount"] }}
                            {% elif 1 >= data["discount"] %}
                                {{ '%.0f' % (data["discount"] * 100) }}%
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="monetary-cost total">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>${{ '%.2f' % data["total_charges"] }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <!-- Items On Hold List -->
        {% if data.get("items_on_hold") %}

            <!-- 'namespace' through research -->
            {% set is_stock_related = namespace(found = False) %}
            <!-- <span>{{ data.get("items_on_hold") }}</span> -->
            <hr>
            
            <section class="invoice-reserved-replica grid" id="items-reserved">
                <div class="item-text-info">
                    <h2>Reserved Items</h2>
                    <p>Pre-order items are listed under the reserved items</p>
                    <!-- <p>Pre-order items are listed under the reserved items</p> -->
                </div>

                <!-- Pre-Order Display List -->
                <div class="invoice-position" id="const-pre-release">
                    <h3>Pre-Order</h3>
                    <ul class="mini-list-container vrs-3">
                        {% for sn, albm in data.get("items_on_hold").items() %}
                            {% if albm["cause_of_demand"] == "pre_order" %}
                                <!-- list per item -->
                                <li class="mini-list-item">
        
                                    <!-- I: Image and Quantity -->
                                    <div class="img-qty-placer">
                                        <img class="img-item" src="{{ albums[sn]['image'] }}" alt="{{ sn }}">
                                    </div>
        
                                    <!-- II: Name, Artist, and Price -->
                                    <div class="txt-const">
                                        <div class="name-artist">
                                            <a href="{{ url_for('product_information', id = pr[sn]['id'] ) }}">
                                                <p class="emphasise">{{ sn }} <span class="quantity-count">× {{ albm["quantity_demand"] }}</span></p>      
                                            </a>
                                            <span>Release: {{ pr[sn]["release_date"] }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- On Hold Items related to Stock Change -->
                <div class="invoice-position" id="const-related-stock">
                    <h3>On Hold</h3>
                    <ul class="mini-list-container vrs-3">
                        {% for sn, albm in data.get("items_on_hold").items() %}
                            {% if not albm["cause_of_demand"] == "pre_order" %}
                                <!-- list per item -->
                                {% set is_stock_related.found = True %}

                                <li class="mini-list-item">
        
                                    <!-- I: Image and Quantity -->
                                    <div class="img-qty-placer">
                                        <img class="img-item" src="{{ albums[sn]['image'] }}" alt="{{ sn }}">
                                        <span class="counter">{{ albm["quantity_demand"] }}</span>
                                    </div>
        
                                    <!-- II: Name, Artist, and Price -->
                                    <div class="txt-const">
                                        <div class="name-artist">
                                            <p class="emphasise">{{ sn }}</p>      
                                            <span>{{ albm["cause_of_demand"].title().replace("_", " ") }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>

            <hr>

            {% if is_stock_related.found %}
                <section class="notice" id="stock-change-notice">

                    <h2>Notice to Stock Change</h2>
                    <h3>What does this mean?</h3>
                    <p>Your order could be identified as partial fulfilment, where temporarily out-of-stock items are kept for restoration and sent on a later shipment; available items are shipped in the order at once. But we expect that they will be restocked and ready for shipment. We will get in touch with you about your order and help you decide within three business days.</p>
                        
                    <h3>Contact</h3>
                    <p>If you have any questions or would like to request a refund, you can get in touch with us via phone or email.</p>
                </section>
            {% endif %}
        {% endif %}
    </body>
{% endblock %}