{% extends "base.html" %}

{% block title %}My Order - The Music Shop{% endblock %}

{% block content %}
    <body>
        <h2>Thank You!</h2>
        <p>We'll remind you on your order placement within 3 business days. If you have any enquiries, contact us.</p>

        <h3>Invoice Number: #{{ data["id"] }}</h3>
        <p>Date: {{ data["date"] }}</p>

        <section class="invoice-page">
            <div id="order-billing-dt">
                <span class="label">Invoice To</span>
                <div>
                    <p class="full-name emphasise">{{ data["customer"]["name"] }}</p>
                    <p>{{ data["customer"]["physical_address"] }}</p>
                    <p>{{ data["customer"]["town"] }} {{ data["customer"]["postal_code"] }}</p>
                    <p>{{ data["customer"]["email"] }}</p>
                </div>
            </div>

            <!-- TABLE -->
            <table>
                <colgroup>
                    <col span="1" style="width: 60px;">
                    <col style="width: 360px;">
                    <col span="3" style="width: 120px">
                </colgroup>
                <thead>
                    <tr>
                        <th id="th-item-number">No.</th>
                        <th id="th-album-name">Item</th>
                        <th id="th-unit-price">Price</th>
                        <th id="th-quantity">Quantity</th>
                        <th id="th-total-price">Total Price</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- column item selection -->
                    {% for n, alb in data["items"].items() %}
                        <tr>
                            <td>1</td>
                            <td>{{ n }}</td>
                            <td>${{ alb["price"] }}</td>
                            <td>{{ alb["quantity"] }}</td>
                            <td>${{ '%.2f' % (alb["price"] * alb["quantity"]) }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="monetary-cost subtotal">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal</td>
                        <td>${{ data["subtotal"] }}</td>
                    </tr>
                    <tr class="monetary-cost gst">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>GST</td>
                        <td>${{ '%.2f' % data["gst"] }}</td>
                    </tr>
                    <tr class="monetary-cost ship-fee">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Ship Fee</td>
                        <td>${{ '%.2f' % data["ship_fee"] }}</td>
                    </tr>
                    <tr class="monetary-cost discount">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Discount</td>
                        <td>${{ '%.2f' % 0 }}</td>
                    </tr>
                    <tr class="monetary-cost total">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>${{ '%.2f' % data["total_charges"] }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
{% endblock %}