{% extends "base.html" %}

{% block title %}Genre - The Music Shop{% endblock %}

{% block content %}
    <body>
        <h2>Genre: {{ genre }}</h2>
        <section class="grid grid-display item-display">
            <div class="left-side-ctn">
                <!-- I: Genre Buttons -->
                <div class="sort-by-genre block-align reduced-size">
                    <a class="anchor-btn-flair {% if genre == 'all' %}selected{% endif %}" href="{{ url_for('category_all') }}">
                        <span>All</span>
                    </a>
                    <hr>
                    <a class="anchor-btn-flair {% if genre == 'ambience' %}selected{% endif %}" href="{{ url_for('category', genre = 'ambience') }}">
                        <img class="svg-icon" alt="A leaf" src="/static/icons/leaf-svgrepo-com.svg">
                        <span>Ambience</span>
                    </a>
                    <a class="anchor-btn-flair {% if genre == 'acoustic' %}selected{% endif %}" href="{{ url_for('category', genre = 'acoustic') }}">
                        <img class="svg-icon" alt="A guitar" src="/static/icons/guitar-svgrepo-com.svg">
                        <span>Acoustic</span>
                    </a>
                    <a class="anchor-btn-flair {% if genre == 'classical' %}selected{% endif %}" href="{{ url_for('category', genre = 'classical') }}">
                        <img class="svg-icon" alt="A guitar" src="/static/icons/violin-svgrepo-com.svg">
                        <span>Classical</span>
                    </a>
                    <a class="anchor-btn-flair {% if genre == 'lo-fi' %}selected{% endif %}" href="{{ url_for('category', genre = 'lo-fi') }}">
                        <img class="svg-icon" alt="A guitar" src="/static/icons/music-disc-with-luster-svgrepo-com.svg">
                        <span>Lo-Fi</span>
                    </a>
                    <a class="anchor-btn-flair {% if genre == 'upbeat' %}selected{% endif %}" href="{{ url_for('category', genre = 'upbeat') }}">
                        <img class="svg-icon" alt="A guitar" src="/static/icons/headphones-1-svgrepo-com.svg">
                        <span>Upbeat</span>
                    </a>
                </div>

                <!-- II: Filter by Price Range -->
                <form class="filter-price-range" action="{{ url_for('filter_price', genre = genre) }}" method="post">
                    <p><b>Filter by Price Range</b></p>
                    <label>
                        <input type="radio" name="price-range" id="below-15" value="Below $15">
                        Below $15
                    </label>
                    <label>
                        <input type="radio" name="price-range" id="15-30" value="$15 to $30">
                        $15 – $30
                    </label>
                    <label>
                        <input type="radio" name="price-range" id="30-50" value="$30 to $50">
                        $30 – $50
                    </label>
                    <label>
                        <input type="radio" name="price-range" id="50-100" value="$50 to $100">
                        $50 – $100
                    </label>
                    <label>
                        <input type="radio" name="price-range" id="above-100" value="Above $100">
                        Above $100
                    </label>

                    <button type="submit">Go</button>
                </form>
            </div>

            <div class="grid dsp-container">
                <!-- I: Item Card Container -->
                {% if imported_data %}
                    <!-- If imported_data have it -->
                    {% for album_name, i in imported_data.items() %}
                        <div class="item-card" id="card-{{ i['id'] }}">
                            <!-- Row I: Clickable Info -->
                            <a href="{{ url_for('product_information', id = i['id']) }}">
                                <!-- I: Album Image -->
                                <img class="img-item" src="{{ i['image'] }}" alt="{{ album_name }}">

                                {% if album_name in pr %}
                                    <span class="tag-label">Pre-Order</span>
                                {% endif %}
                
                                <!-- II: Text Information -->
                                <div class="album-txt-info">
                                    <div class="album-title">
                                        <p class="emphasise zero-margin">{{ album_name }}</p>
                                        <span class="artist">{{ i['artist'] }}</span>
                                    </div>
                                    <p class="price-track emphasise"><sup>$</sup>{{ "%.2f" % i['price'] }}<span class="label">/EA</span></p>
                                </div>
                            </a>
        
                            <!-- Row II: Form -->

                            {% if pxrange %}
                                <!-- form action: in filtering text price of px_argument -->
                                {% set px_argument = "_" + pxrange %}
                            {% else %}
                                {% set px_argument = "" %}
                            {% endif %}

                            <p>{{ px_argument }}</p>

                            {% with stock = i["stock"] %}
                                <form action="{{ url_for('add_to_cart', catalogue_id = i['id'], product_name = album_name, input_selector = 'i-quantity-' + i['id'], pole_end = '1%' + genre + px_argument) }}" method="post" class="add-to-cart-action">
                                    {% set input_value = cart[album_name]['quantity'] if album_name in cart else 1 %}

                                    {% if stock > 0 %}
                                        {% if 6 > stock and stock > 0 %}
                                            {% set stock_emp = "low" %}
                                        {% else %}
                                            {% set stock_emp = "in-stock" %}
                                        {% endif %}

                                        {% set tle = "Add to Cart" if album_name in cart else "" %}
                                        {% set max_range = stock if 5 > stock else 5 %}
                                        {% set disable_button = True if album_name in cart else False %}

                                    {% else %}
                                        {% set tle = "Out of Stock" %}
                                        {% set disable_input = True %}
                                        {% set out_text = "OOS" %}
                                    {% endif %}

                                    <input type="number" class="emit-stock-status {{ stock_emp | default('none') }}" name="i-quantity-{{ i['id'] }}" id="i-quantity-{{ i['id'] }}" title="Stock Left: {{ stock }}" min="1" max="{{ max_range | default(5) }}" value="{{ input_value }}" {% if disable_input %}disabled{% endif %}>
                                    <button type="submit" title="{{ tle }}" {% if disable_button or disable_input %}disabled{% endif %}>{{ out_text | default("Add") }}</button>
                                </form>
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- Just display a text -->
                    <p><b>No results found for items ranging {{ text_value }}.</b></p>
                {% endif %}
            </div>
        </section>
    </body>
{% endblock %}