{% extends "base.html" %}

{% block title %}{{ product_name }} | The Music Shop{% endblock %}

{% block content %}
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="toast-flash">
                <!-- 'flash' message from Python Flask -->
                    {% for m in messages %}
                        <p>{{ m }}</p>
                    {% endfor %}
                <!-- boundary "for" -->
                </div>
            {% endif %}
        {% endwith %}
        <section class="grid grid-display product-info">
            <!-- I: PHOTO -->
            <img class="product-img-large">

            <!-- II: DETAILS -->
            <div id="product-details">
                <!-- Row I: Name and Author -->
                <div class="box-acc name-author grid">
                    <div>
                        <h2>{{ product_name }}</h2>
                        <p class="author">{{ product["author"] }}</p>
                    </div>
                    <button type="button">WISHLIST</button>
                </div>
                <!-- Row II: Model, Label, Genre -->
                <div class="box-acc showcase grid">
                    <div class="classif-cont catalogue-id">
                        <span>Catalogue ID</span>
                        <p>M-{{ product["id"] }}</p>
                    </div>
                    <div class="classif-cont label">
                        <span>Label</span>
                        <p>{{ product["label"] }}</p>
                    </div>
                    <div class="classif-cont genre">
                        <span>Genre</span>
                        <p>{{ product["genre"] }}</p>
                    </div>
                    <div class="classif-cont tracks">
                        <span>Tracks</span>
                        <p>{{ product["tracks"] }}</p>
                    </div>
                </div>
                <!-- Row III: Form Price, Input Quantity, Add-To-Cart/View-My-Cart -->
                <form class="box-acc price-and-quantity" action="{{ url_for('add_to_cart', catalogue_id=product['id'], product_name=product_name, input_selector='quantity', pole_end = '0%' ) }}" method="post">
                    <div class="classif-cont price">
                        <span>Price per each</span>
                        <p class="emphasise">${{ '%.2f' % product["price"] }}</p>
                    </div>
                    <div class="classif-cont quantity">

                        <!-- Different Labels from Stock Status (High, Low, None) -->
                        {% if product['stock'] > 5 %}
                            <label for="quantity">QUANTITY • <span class="stock-status lowercase">In Stock</span></label>
                        {% elif 6 > product['stock'] and product['stock'] > 0 %}
                            <label for="quantity">QUANTITY <b class="low">({{ product['stock'] }})</b> • <span class="stock-status lowercase">Low Stock</span></label>
                        {% else %}
                            <label for="quantity">QUANTITY • <span class="stock-status out-of-stock lowercase">Out of Stock</span></label>
                        {% endif %}

                        <!-- Input Quantity: 5 > P = by its remaining stock (max); else 5 (max) -->
                        <input type="number" id="quantity" name="quantity" min="1" max="{% if 5 > product['stock'] and product['stock'] > 0 %}{{ product['stock'] }}{% else %}5{% endif %}" value="{% if already_in_cart %}{{ item_in_hold['quantity'] }}{% else %}1{% endif %}" {% if not in_stock %}disabled{% endif %}>
                    </div>
                    {% if already_in_cart %}
                        <button type="button" class="view-my-cart" onclick=" location.href = `{{ url_for('cart') }}`">View My Cart</button>
                    {% else %}
                        <button type="submit" class="add-to-cart" {% if not in_stock %}disabled title="Out of Stock"{% endif %}>Add to Cart</button>
                    {% endif %}
                </form>
            </div>
        </section>
    </body>
{% endblock %}