{% extends "base.html" %}

{% block title %}{{ product_name }} | The Music Shop{% endblock %}

{% block content %}
    <body>
        <section class="grid grid-display product-info">
            <!-- I: PHOTO -->
            <img class="product-img-large">

            <!-- II: DETAILS -->
            <div id="product-details">
                <!-- Row I: Name and Author -->
                <div class="box-acc name-author grid">
                    <div>
                        <h2>{{ product_name }}</h2>
                        <p>{{ product["author"] }}</p>
                    </div>
                    <button type="button">WISHLIST</button>
                </div>
                <!-- Row II: Model, Label, Genre -->
                <div class="box-acc showcase grid">
                    <div class="classif-cont model">
                        <span>Model</span>
                        <p>M-{{ product["model"] }}</p>
                    </div>
                    <div class="classif-cont label">
                        <span>Label</span>
                        <p>{{ product["label"] }}</p>
                    </div>
                    <div class="classif-cont genre">
                        <span>Genre</span>
                        <p>{{ product["genre"] }}</p>
                    </div>
                    <div class="classif-cont tracks">
                        <span>Tracks</span>
                        <p>{{ product["tracks"] }}</p>
                    </div>
                </div>
                <!-- Row III: Form Price, Input Quantity, Add-To-Cart/View-My-Cart -->
                <form class="box-acc price-and-quantity" action="" method="post">
                    <div class="classif-cont price">
                        <span>Price per each</span>
                        <p class="emphasise">${{ '%.2f' % product["price"] }}</p>
                    </div>
                    <div class="classif-cont quantity">
                        <label for="quantity">QUANTITY • {% if product["stock"] > 0 %}In Stock{% else %}Out of Stock{% endif %}</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="5" value="1">
                    </div>
                    <button type="submit" class="add-to-cart">Add to Cart</button>
                </form>
            </div>
        </section>
    </body>
{% endblock %}