{% extends "base.html" %}

{% block title %}Product... | The Music Shop{% endblock %}

{% block content %}
    <body>
        <section class="grid grid-display">
            <!-- I: PHOTO -->
            <img class="product-photo-large">

            <!-- II: DETAILS -->
            <div id="product-details">
                <!-- Row I: Name and Author -->
                <div class="box-acc name-author">
                    <h2>Product Name</h2>
                    <p>Author</p>
                </div>
                <!-- Row II: Model, Label, Genre -->
                <div class="box-acc showcase">
                    <div class="classif-cont model">
                        <span>Model</span>
                        <p>M-129492385</p>
                    </div>
                    <div class="classif-cont label">
                        <span>Label</span>
                        <p>My Label</p>
                    </div>
                    <div class="classif-cont genre">
                        <span>Genre</span>
                        <p>What's my genre?</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}